* { margin: 0; }
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Poppins', sans-serif;
}

@layer base {
  :root{
    --color-bkg: 0deg 9% 98%;
    --color-text: 210deg 10% 13%;
    --border-outline: 216deg 12% 84%;
    --color-acent: 165deg 82% 35%;
    

  }
  @media(prefers-color-scheme: dark) {
    :root{
      /* --color-bkg: 210deg 10% 13%;
      --color-text: 0deg 9% 98%;
      --border-outline: 216deg 12% 24%; */
    }
  }
}

body {
  @apply bg-bkg
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}
